/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: color 0.3s;
}

ul {
    list-style: none;
}

:root {
    --text-color: #161616;
    --bg-color: #e6e6e6;
    --primary-color: #ffbf00;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    letter-spacing: 2px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    margin-bottom: 30px;
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6em;
}

section:not(#hero) {
    z-index: 3;
    position: relative;
    padding: 30px 40px;
}

#main-content {
    background-color: var(--bg-color);
    z-index: 3;
    position: relative;
}


/**** Header ****/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 4;
    padding: 0 10px;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header a,
header label {
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;

    &:hover {
        color: var(--primary-color);
    }
}

/* Navbar */
nav {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    height: 100%;
}

nav ul {
    gap: 20px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--primary-color);
}

/* Menu Hamburger per Mobile */
#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: block;
}

/* checkbox hamburger menu */
[type='checkbox'] {
    display: none;
}

/* Mostra il menu quando il checkbox è spuntato */
#menu-toggle:checked+#menu-icon+ul {
    display: flex;
    gap: 0px;

    li {
        padding: 10px;
        width: 50%;
    }
}

/* ver desktop */
@media (min-width: 992px) {
    nav ul {
        background-color: transparent;
        border-bottom: none;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: end;

        li {
            padding: 0 !important;
            width: max-content !important;
            border: none;
        }
    }

    #menu-icon {
        /* hamburger icon */
        display: none;
    }
}



/**** Hero Section ****/

/* mobile */

#hero {
    position: sticky;
    top: 60px;
    z-index: 2;
    height: calc(100vh - 60px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Sezione colorata */
.hero__img-social {
    background-color: var(--primary-color);
    height: 55%;
    width: 100%;
}

/* Contenitore immagine */
.hero__img {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
        outline: 3px solid var(--primary-color);
        line-height: none;
        position: absolute;
        top: -30px;
        width: 200px;
        height: 200px;
        border-radius: 30px;
        object-fit: cover;
        border: 3px solid var(--bg-color);
    }
}

/* Social */
.hero__social {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero__social ul {
    display: flex;
    gap: 20px;
}

.hero__social a {
    color: var(--bg-color);
    font-size: 1.7em;

    &:hover {
        color: var(--text-color);
    }
}

/* Testo */
.hero__text {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__text p {
    margin-top: 10px;
}

/* tablet */
@media (min-width: 768px) {
    #hero {
        flex-direction: row;
        text-align: start;
    }

    .hero__text {
        width: 40%;
    }

    .hero__img-social {
        height: 100%;
        width: 40%;
    }

    .hero__social {
        font-size: 1.5em;

        ul {
            gap: 30px;
        }
    }

    .hero__img {
        flex: 1;
        height: 70%;
        align-items: end;

        img {
            position: relative;
            width: 300px;
            height: 300px;
        }
    }
}

/* desktop */
@media (min-width: 1200px) {
    #hero {
        flex-direction: row;
        text-align: start;
    }

    .hero__text {
        flex: none;
    }

    .hero__img-social {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        background-color: transparent;
    }

    .hero__social {
        font-size: 1.5em;

        ul {
            flex-direction: column;
            gap: 30px;

            a {
                color: var(--primary-color);
            }
        }
    }

    .hero__img {
        height: 100%;
        padding: 0 20px;
        align-items: center;
        background-color: var(--primary-color);

        img {
            position: relative;
            width: 300px;
            height: 300px;
        }
    }

    .hero__text {
        width: 50%;
    }
}


/**** Profilo ****/
#profile {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#profile p {
    margin-bottom: 20px;
}

#profile div {
    margin: 0 auto 50px;
    width: 100%;
    max-width: 500px;
}

@media (min-width: 1200px) {
    #profile {
        display: flex;
    }
}



/**** Informazioni ****/
section#info {
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 20px 30px;
    overflow: auto;
}

.info__card {
    width: 100%;
    margin-bottom: 20px;
}

.info__title {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .info__container {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 20 60px;
    }

    .info__card {
        width: 30%;
    }
}



/**** Formazione ****/

/* singola card */
.formazione__card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: var(--bg-color);
    border-radius: 5px;
    display: flex;
    gap: 20px;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.formazione__card:hover {
    box-shadow: none;
}

.formazione__card label {
    cursor: pointer;
}

.formazione__card__info {
    flex: 1;
}

.formazione__card__icon {
    width: 20%;
    max-width: 50px;
}

.formazione__card i {
    font-size: 2em;
}

.formazione__card__date {
    font-weight: bold;
    margin-bottom: 10px;
}

.formazione__card__title {
    font-size: 1.2em;
}

.formazione__card__school {
    font-style: italic;
}

.formazione__card__description {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    font-size: 0.85em;
    margin-top: 20px;
}

#galdus__toggle:checked+#galdus__icon+#galdus__desc {
    max-height: 500px;
    opacity: 1;
}

#ifoa__toggle:checked+#ifoa__icon+#ifoa__desc {
    max-height: 500px;
    opacity: 1;
}

#iscuola__toggle:checked+#iscuola__icon+#iscuola__desc {
    max-height: 500px;
    opacity: 1;
}




/**** Esperienze ****/

#esperienze ul {
    max-width: 1200px;
    margin: auto;
}

#esperienze ul li {
    margin-bottom: 30px;
}

.esperienze__title {
    font-weight: bold;
}

.esperienze__desc {
    padding: 10px;
}

@media (min-width: 768px) {
    #esperienze ul {
        display: flex;
        justify-content: center;
        gap: 20px;

        li {
            margin-bottom: 0;
        }
    }
}



/**** Competenze ****/
.skills__container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.program-lang {
    background-color: var(--primary-color);
    color: var(--bg-color);
    width: max-content;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.program-lang:hover {
    transform: scale(1.1);
}





/**** Contatti ****/

#contatti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        color: var(--text-color);
        &:hover{
                color: var(--primary-color);
            }
    }

    .sito {
        background-color: var(--primary-color);
        width: 100%;
        max-width: max-content;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        margin-top: 20px;

        a {
            color: var(--bg-color);
            &:hover{
                color: var(--text-color);
            }
        }
    }
}

#contatti ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media(min-width: 568px) {
    #contatti ul {
        flex-direction: row;
        gap: 30px;
    }

}



/**** Footer ****/

footer {
    margin-top: 30px;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#copy {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}